<div class="interactive-wrapper nswMap">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='chartTitle' id="chartTitle">Confirmed cases of Covid-19 in New South Wales</div>
			<div class='subTitle' id="subTitle">Showing the cumulative number of confirmed cases by local government area. Data last updated <span id="lastUpdated"></span></div>	
			</div>
			<div class="row chartSans" id="coronaMapContainer">
				<div id="zoom" class="btn">Zoom to Sydney</div>
				<div id="keyDiv" class="mobHide"></div>
			</div>
			<div class="row chartSans" id="sydneyMapContainer">	

			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText">| Source: NSW Health</span>
			</div>	
			
	</div>
</div>